*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(95, 95, 95); */
    background: rgba(69, 175, 140, 0.548);

}
.container{
    height: 385 px;
    width: 500px;
    background-color: rgba(0, 0, 0, 0.918);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 50px  rgba(0, 0, 0, 0.342);
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.password{
    font-size: 1.6rem;
    font-weight: 600;
}
.copy{
    background: rgb(30, 204, 146);
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
}
.length{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.character{
    display: flex;
    justify-content: space-between;
}
span{
    font-size: 1.2rem
}
.character-length{
    margin-right:1rem;
    font-weight: 500;
}
.checkBoxes{
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 2rem;
    gap: 1rem;
}
.box {
display: flex;
gap: 7px;
}
.generatePassword{
    display: flex;
    margin-top: 1.5rem;
    flex-direction: column;
    gap: 1.5rem;
}
.strength{
    display: flex;
    justify-content: space-between;
}
.strength span{
    font-size: 0.9rem;
}
.strengthSize{
    margin-right: 1rem;
    font-weight: 600;
}
.generatePassword button{
    background: rgb(30, 204, 146);
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 0.7rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.err{
    color: red;
}


@media screen and (max-width:810px){
    body{
        height: 60vh;
    }
}


@media screen and (max-width:600px){
    body{
        height: 75vh;
    }
    .checkBoxes {
        grid-template-columns: auto;
      }
    .container{
        width: 89vw;
    }
    .password {
        font-size: 1.3rem;
      }
      .copy {
        font-size: 0.9rem;
      }
      .generatePassword button {
        font-size: 0.9rem;
        padding: 0.6rem 1rem;
      }
}